// main: ../main.less

.btn {
    padding: 2rem 3.5rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: @light;
    background: @btn;
    border-radius: 5px;
    box-shadow: 0 5px rgb(115, 99, 87);
    
    font-family: @ral;
    font-size: 1.4rem;
    font-weight: 800;
    
    transition: background .2s ease;
    &:hover {
        background: darken(@btn,10%);
    }
}